.*
*~
!.gitignore
!.htaccess
!.editorconfig
!.github
node_modules

# General exclusion of system files #
#####################################

# Windows Files #
#################
Thumbs.db
ehthumbs.db

# Folder config file #
######################
Desktop.ini

# Recycle Bin used on file shares #
###################################
$RECYCLE.BIN/

# Misc files #
##############
config.codekit
