<div id="upstream_subscription_ad">
    <div class="header">
        <img src="{{ image_src }}" />
    </div>

    <div class="content">

        <h3>Get 20% off the UpStream extensions</h3>

        <p>
            Thanks for using UpStream! Enter your details and we'll send you a coupon for 20% off the UpStream extensions.
        </p>

        {# Based on Mailchimp's embeded subscription form #}
        <form class="form-horizontal validate" action="https://upstreamplugin.us4.list-manage.com/subscribe/post?u=a42978bc16dd60d0ce3cac4d4&amp;id=83b571c8f0" method="post" target="_blank">
            <div class="control-group">
                <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span></label>

                <div class="controls">
                    <input type="email" value="" name="EMAIL" class="required email form-control regular-text" id="mce-EMAIL" />
                </div>
            </div>

            <div class="control-group">
                <label for="mce-FNAME">First Name </label>

                <div class="controls">
                    <input type="text" value="" name="FNAME" class="form-control regular-text" id="mce-FNAME">
                </div>
            </div>

            <div class="control-group">
                <label for="mce-LNAME">Last Name </label>

                <div class="controls">
                    <input type="text" value="" name="LNAME" class="form-control regular-text" id="mce-LNAME">
                </div>
            </div>

            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>

            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_a42978bc16dd60d0ce3cac4d4_83b571c8f0" tabindex="-1" value="">
                <input type="hidden" name="group[132393][2]" id="mce-group[132393]-132393-2" tabindex="-1" value="2">
            </div>

            <button type="submit" class="button-primary">Yes! Send me the coupon</button>
        </form>
    </div>
</div>
